
<ion-header class="header-background-md">
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu" style="color:black" > LOGOTIPO - TITULO</ion-icon>            
    </button>
  </ion-navbar>
</ion-header>


    <ion-navbar no-border-bottom>
      <ion-title>
        Segments
      </ion-title>
    </ion-navbar>
  
    

  <br><br>
<ion-content padding>
   <ion-searchbar placeholder="Buscar..."></ion-searchbar>
      <ion-toolbar class="toolbar-background-md">
          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="Populares">
              Populares
            </ion-segment-button>
            <ion-segment-button value="Recomendados">
              Recomendados
            </ion-segment-button>
            <ion-segment-button value="Eventos">
                Eventos
              </ion-segment-button>
          </ion-segment>
        </ion-toolbar>

        <div [ngSwitch]="pet">
          <ion-slides  *ngSwitchCase="'Populares'">  
            <ion-slide *ngFor="let slide of slides1">
                
                <div class="image">
                  <img [src]="slide.image" class="slide-image "/>
                  <h4 class="caption2 slide-title" [innerHTML]="slide.title  + ' - ' + slide.description"></h4>
                  <ion-toolbar class="caption3">       
                      <ion-buttons  left>
                          <ion-icon  color="primary" name="eye"></ion-icon><button ion-button color="light" style="size:200px" [innerHTML]="slide.visitas"></button>
                        </ion-buttons>
                    </ion-toolbar> 
                  
                </div>
               
              </ion-slide>
              
            </ion-slides>
          <!--  
          <ion-list *ngSwitchCase="'Populares'">
              
                 <ion-item>
                    <div class="imageHolder">                          
                     <img src="assets/imgs/CAMINO.jpg">
                        <div class="caption">Parque Sinaloa - Jardin botanico</div>
                    </div>                    
                  </ion-item>
                

              <ion-item>
                 
                    <div class="imageHolder">                              
                      <img src="assets/imgs/parque.jpg">
                      <div class="caption">La pergola - El cerro</div>
                    </div>
              </ion-item>
            </ion-list>
          -->
        </div>

      <div [ngSwitch]="pet">
        <ion-slides  *ngSwitchCase="'Recomendados'">
            <ion-slide *ngFor="let slide of slides2">
              
              <div class="image">
                <img [src]="slide.image" class="slide-image "/>
                <h4 class="caption2 slide-title" [innerHTML]="slide.title + ' - ' +  slide.description"></h4>
                
                <ion-toolbar class="caption3">       
                    <ion-buttons  left>
                        <ion-icon  color="primary" name="eye"></ion-icon><button ion-button round color="light" style="size:200px" [innerHTML]="slide.visitas"></button>
                      </ion-buttons>
                  </ion-toolbar>  
              </div>  
              
            </ion-slide>
            
          </ion-slides>
      </div>

      <div [ngSwitch]="pet">
          <ion-slides  *ngSwitchCase="'Eventos'">
              <ion-slide *ngFor="let slide of slides3">
                
                <div class="image">
                  <img [src]="slide.image" class="slide-image "/>
                  <h4 class="caption2 slide-title" [innerHTML]="slide.title + ' - ' +  slide.description"></h4>
                    <ion-toolbar class="caption3">       
                      <ion-buttons  left>
                          <ion-icon  color="primary" name="eye"></ion-icon><button ion-button color="light" style="size:200px" [innerHTML]="slide.visitas"></button>
                        </ion-buttons>
                    </ion-toolbar>      
                            
                </div>  
                
              </ion-slide>
              
            </ion-slides>
        </div>
  <hr>
  <button ion-button block outline color="primary">More...</button>
  <hr>


  
</ion-content>
