// http://ionicframework.com/docs/theming/

.centrado{
    text-align: center;
  }



.toolbar-background-md{
    background: transparent;
}
.header-background-md{
    background: transparent;
}
.tabs-background-md{
    background: transparent;
}

.image{
text-align: center;
position: center;
padding-top: 10px;
margin-top: 5px;
width: 430px;
height: 300px;
}
.image .caption2{
position: absolute;
height: 50px;
size: 20px;
bottom: 0px;
left: 5px;
color: white;
background: transparent;
text-align:center;
font-weight:bold;
opacity:0.9;
}

.image .caption3{
    position: absolute;
    height: 550px;
    size: 20px;
    bottom: 0px;
    left: 35px;
    color: white;
    background: transparent;
    text-align:center;
    font-weight:bold;
    opacity:0.9;


}

.h3{
    position: relative;
    top: 200px;
    left: 0;
    width: 100%;
}

h2 span {
    
   color: white;
    
   font: bold 20px/30px Helvetica, Sans-Serif;
    
   letter-spacing: -1px;
    
   background: rgb(0, 0, 0);
    
   background: rgba(0, 0, 0, 0.7);
    
   padding: 10px;
    
   
   }


.imageHolder {
    //position: relative;
    text-align: center;
    position: center;
    padding-top: 10px;
    margin-top: 5px;
    width: 390px;
    height: 250px;
}
.imageHolder .caption {
    position: absolute;
    height: 100px;
    bottom: 0px;
    left: 50px;
    color: white;
    background: transparent;
	text-align:center;
	font-weight:bold;
	opacity:1;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
